@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(/desafios/img/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

#telefone {
    height: 627px;
    width: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/desafios/img/frame-iphone.png);
    background-repeat: no-repeat;
}

#tela-telefone{
    position: relative;
    top: 81px;
    left: 22px;
    width: 267px;
    height: 470px;
}

#redes-sociais{
    text-align: right;
}

#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

#redes-sociais img:hover{
    border: 2px solid rgba(245, 245, 245, 0.438);
    transform: translate(-3px, -3px);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.363);
    transition: transform .7s, border 1s;
}